<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="last-run-extended" class="ch.qos.logback.core.FileAppender">
        <file>logs/last-run-extended.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="last-run" class="ch.qos.logback.core.FileAppender">
        <file>logs/last-run.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <!-- in the absence of the class attribute, it is assumed that the
             desired discriminator type is
             ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
        <discriminator>
            <key>approach</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${approach}" class="ch.qos.logback.core.FileAppender">
                <file>logs/${approach}.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>


    <!--    <appender name="SQL-to-file" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>logs/sql.log</file>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>logs/sql-%d{yyy-MM-dd}.%i.log</fileNamePattern>-->
    <!--            <maxFileSize>100MB</maxFileSize>-->
    <!--            <maxHistory>60</maxHistory>-->
    <!--            <totalSizeCap>5GB</totalSizeCap>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder>-->
    <!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <logger name="resultLogger" additivity="false" level="debug">
        <appender-ref ref="SIFT"/>
    </logger>

    <logger name="de.eposcat.master.approachImpl" additivity="false" level="warn">
        <!--        <appender-ref ref="SQL-to-file"/>-->
        <appender-ref ref="last-run"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="last-run-extended"/>
        <!--        <appender-ref ref="SQL-to-file"/>-->
        <!--        <appender-ref ref="last-run"/>-->
    </root>

    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
</configuration>